<section>
    <h1> {{ title }} </h1>
        <p> This website helps you to seach about the details of the shows. We have to enter a searchTerm based on which all the shows will be displayed.
             </p>
            
        <form class="form" action="/search" method="POST">

        <label> Search Term </label>            
        <input type = "text" name = "searchTerm" id = "searchTerm"/>
        <button type = "submit" name = "Submit"> Search </button>
        
        </form>
</section>